@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar  */
&::-webkit-scrollbar {
  width: 2px;
}
&::-webkit-scrollbar-thumb {
  background: var(--BGC);
  border-radius: 4px;
}

/* fady will type code here */
:root {
  --text_color: #f2e9e4;
  --description_color: #c9ada7;
  --BGC: #22223b;
  --Secont_BGC: #4a4e69;
  --BGC_gradient: ;
  --lines: #9a8c98;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body,
html {
  scroll-behavior: smooth;
}