@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text_color: rgb(255, 255, 255);
  --description_color: rgb(200, 200, 200);
  --BGC: #0000ff; /* #0000FF */
  --Secont_BGC: #000c66; /* ##000C66 */
  --lines: #050a30; /* #050A30 */
}

/* fady will type code here */


/* fady end code */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body,
html {
  scroll-behavior: smooth;
}