@media (max-width: 768px) {
  .titleAndEnfo {
    .title {
      font-size: 2rem;
    }
  }
  .copyRight {
    font-size: 1rem;
  }
}
@media (max-width: 580px) {
  .footer > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titleAndEnfo, .btns {
    text-align: center;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}