:root {
  --Docs_text_color: rgb(255, 255, 255);
  --Docs_description_color: rgb(200, 200, 220);
  --Docs_BGC: rgb(45, 45, 45);
  --Docs_Second_BGC:rgb(60, 60, 60);
  --Docs_lines: #050a30;
}


  .titlePage, .sectionTitle{
    &::before {
      content: "#";
      left: 0;
      padding: 0 6px;
      /* display: none; */
      opacity: 0;
      transition: .6s;
    }

    &:hover::before {
      /* display: flex; */
      opacity: 1;
    }
  }
